/*  @import url('https://fonts.googleapis.com/css2?family=###&family=###&display=swap'); font-family: '', ; */

  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: auqa;
    font-family:'Raleway', sans-serif;
    color: red;
}


.id {
	background-image: url('https://budski82.github.io/Express-Render-Html/img/abe.jpg');
}
